<div role="main" class="mb-3">

  <div class="jumbotron text-center mt-3 mb-3">
    <div class="container">
      <h1 class="jumbotron-heading">Movie Recomendation Site</h1>
      <p class="lead text-muted">Here the site was build for Recomendation for user. This Show the Recomendation based on User Search</p>
       <!-- <p>
        <a href="#" class="btn btn-primary my-2 ml-2 ">Login</a>
        <a href="#" class="btn btn-secondary my-2 ml-2">Sign up</a>
       
      </p> -->
     
    </div>
    <img src="../../assets/source.gif" *ngIf="loading">
  </div>
 
  <div class="album py-5 bg-light mt-5">
    <div class="container">

      <div class="row" *ngIf="!loading">
        <div class="col-md-4" *ngFor="let res of list.results">
          <div class="card mb-4 shadow-sm" (click)="show(res.id)">
            <img *ngIf="res.poster_path" class="card-img-top" src="https://image.tmdb.org/t/p/original{{res.poster_path}}" width=300px height=500px>
            <img *ngIf="!res.poster_path" class="card-img-top" src="../../assets/Image-not-found.gif" width=300px height=500px>
            <div class="card-body">
              <p class="card-text">{{res.title}}</p>
              <div class="d-flex justify-content-between align-items-center">
                <small class="text-muted">{{res.vote_average}}</small>
                <small class="text-muted">{{res.release_date}}</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
