<div class="jumbotron text-center mb-3" *ngIf="loading">
  <div class="container">
    <img src="../../assets/source.gif">
  </div>
</div>

<div *ngIf="!loading">
  <div class="jumbotron text-center mb-3">
    <div class="container">
      <h1 class="jumbotron-heading">{{list.title}}</h1>
      <small class="form-text text-muted">{{list.original_title}}</small>
      <p class="lead text-muted">{{list.overview}}</p>

    </div>
  </div>

  <div class="container mb-4">
    <div class="row">
      <div class="col-4">
        <img *ngIf="list.poster_path" class="card-img-top" src="https://image.tmdb.org/t/p/original{{list.poster_path}}"
          width=300px height=500px>
        <img *ngIf="!list.poster_path" class="card-img-top" src="../../assets/Image-not-found.gif" width=300px height=500px>
      </div>
      <div class="col">
        <div class="container">
          <p>Movie Name : {{list.title}}</p>
          <p>Original Title : {{list.original_title}}<p>
              <p>Overview : {{list.overview}}</p>
              <p>Release Date : {{list.release_date}}</p>
              <p>Runtime : {{list.runtime}}</p>
              <p>Vote Average : {{list.vote_average}}</p>
              <p>IMDB ID : {{list.imdb_id}}</p>
              <p>ID : {{list.id}}</p>
        </div>
      </div>
    </div>
  </div>




  <div class="album py-5 bg-light" *ngIf="movie_rec">

    <div class="container mb-3">
      <h2>Additiona Recomendation </h2>
    </div>

    <div class="album py-5 bg-light mt-5">
      <div class="container">
        <div class="row" *ngIf="!loading">
          <div class="col-md-4" *ngFor="let res of new_recomendation">
            <div class="card mb-4 shadow-sm" (click)="show(res.id)">
              <img *ngIf="res.poster_path" class="card-img-top" src="https://image.tmdb.org/t/p/original{{res.poster_path}}"
                width=300px height=500px>
              <img *ngIf="!res.poster_path" class="card-img-top" src="../../assets/Image-not-found.gif" width=300px
                height=500px>
              <div class="card-body">
                <p class="card-text">{{res.title}}</p>
                <div class="d-flex justify-content-between align-items-center">
                  <small class="text-muted">{{res.vote_average}}</small>
                  <small class="text-muted">{{res.release_date}}</small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
